body {
    font-family: Corbel, Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 120px;
}

.header {
    font-family: 'Copperplate Gothic Bold', sans-serif;
    background-color: #c70000;
    color: white;
    outline: 5px solid #c70000;
    padding: 20px;
    font-size: 43px;
    border: 5px solid white;
    margin: 10px auto;
    display: inline-block;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 900px;
    margin: 5px auto;
    align-items: center;
}

/* HEADERS */
.tile {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #e0e0e0;
    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    }

.tile::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--top-color);
    border-bottom: 2px solid black;
}

/* CONTENTS */
.tile:hover {
    opacity: 0.9;
}

.hidden {
    display: none;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}
